body {
    background-color: honeydew;
}

header {
    font-weight: bolder;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    text-align: right;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.685);
}

footer {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 20px;
    position: relative;
    bottom: 0%;
    text-align: right;
}

#navigate {
    position: sticky;
    top: 0%;
    z-index: 1;
}

.menu {
    background-color: grey;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 15px;
    display: inline-block;
}

.menu ul {
    display: inline;
    margin: 0;
    padding: 0;
}

#menubar {
    display: inline-block;
}

#menubar:hover {
    background: rgba(0, 0, 0, 0.7);
}

#menubar:hover #dropdown {
    display: block;
}

#dropdown {
    position: absolute;
    max-width: 200px;
    display: none;
    color: gainsboro;
}

#dropdown li {
    background-color: whitesmoke;
    display: block
}

#dropdown li a {
    display: block !important;
    color: steelblue;
    font-size: 22px;
    padding: 5px;
}

#dropdown li:hover {
    background-color: gainsboro;
}

.image-container {
    position: static;
    margin: 10px;
    overflow: hidden;
    border: 2px solid steelblue;

}

.wrapper {
    width: 100%;
    display: flex;
    animation: slide 20s infinite;
}

.wrapper img {
    min-width: 100%;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-100%);
    }

    55% {
        transform: translateX(-100%);
    }

    60% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-200%);
    }

    80% {
        transform: translateX(-300%);
    }

    85% {
        transform: translateX(-400%);
    }

    100% {
        transform: translateX(-400%);
    }
}

p {
    color: blue;
    padding-left: 2px;
}

#product-info {
    color: black;
    font-size: medium;
    padding: 2px;
}

button {
    color: orange;
    background-color: rgb(193, 193, 214);
    border-color: blue;
    text-align: center;
    position: absolute;
    bottom: auto;
    width: 100px;

}

#care {
    margin: 10px;
    overflow: hidden;
}

.image-content {
    position: relative;
    border-radius: 10px;
    margin: 9px;
    width: 250px;
    height: 280px;
    border: 2px solid green;
    display: inline-block;
    justify-content: space-around;
    background-color: whitesmoke;
    padding-left: 2px;
}

.image-content img {
    border-radius: 10px;
    height: 80px;
    min-width: 220px;
    padding: 5%;
}

button:active {
    opacity: 1;
    background-color: rgb(250, 234, 230);
    border-color: rgb(0, 255, 76);
}

.image-content:hover {
    opacity: 1;
    height: 320px;
    width: 320px;
}